/* client/src/components/PCBuilder/PCBuilder.module.css */
.pcBuilder {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}